---
layout: index
---

<div class="home">
	{% assign allHunts = site.data.currentHunts | group_by: "status" %}
	{% for huntsByStatus in allHunts %}
		{%- if huntsByStatus.name == "Ongoing" -%}
			<h1 class="page-heading">Ongoing Shiny Hunts</h1>
		{%- endif -%}
		{%- if huntsByStatus.name == "On hold" -%}
			<h1 class="page-heading">Shiny Hunts On Hold</h1>
		{%- endif -%}
  
		{% assign versionGrouping = huntsByStatus.items | group_by: "version" %}
		{% for huntsByVersion in versionGrouping %}
			<h2><img src="/assets/images/games/{{ huntsByVersion.name  | remove: " " | downcase }}.png" alt="{{ huntsByVersion.name  }} Icon"> Pokémon {{ huntsByVersion.name }}</h2>
			{% for hunt in huntsByVersion.items %}
				<p>
					<table style="border-collapse: collapse; border: none;width:100%;table-layout: fixed;">
						<tr>
							<td style="border: none;width: 180px;height: 180px;padding: 0;text-align: center;vertical-align: middle;overflow: hidden;padding: 0;" rowspan=2>
								<img src="/assets/images/places/{{ hunt.place | remove: " " | remove: "." | downcase }}.png" alt="{{ hunt.place }} Image" style="aspect-ratio:1;object-fit:cover;width:180px">
							</td>
							<td style="border: none;">
								<h3>{{ hunt.place }} {% if hunt.method %} ({{ hunt.method }}){% endif %}</h3>
							</td>
						</tr>
						<tr>
							<td style="border: none;word-break: break-word;overflow-wrap: break-word;">
								<table style="border-collapse: collapse; border: none; width: auto; table-layout: auto;"><tr>
									{% assign pokemonList = hunt.pokemon | split: "," %}
									{% for pokemonFromList in pokemonList %}
										{% assign pokemonData = site.data.pokemon | where: "name", pokemonFromList | first %}
										<td style="border: none; padding: 0;min-width:100px; width: 1px; white-space: nowrap;">
											<img src="/assets/images/sprites/{{ pokemonData.number }}_{{ hunt.version  | remove: " " | downcase }}.png" alt={{ pokemonFromList }} 
											style="display: block; width: auto; height: auto;max-width: 90px; max-height: 90px;">
											{%- if hunt.target == pokemonFromList -%}
											<br/>Target
											{% else %}
											<br/><br/>
											{%- endif -%}
										</td>
									{% endfor %}
								</tr></table>
							</td>
							<td  style="border: none; padding: 0;min-width:100px; width: 1px; white-space: nowrap;">
								{%- if hunt.startdate -%}
								<p>Started {{ hunt.startdate }}</p>
								{%- endif -%}
								{%- if hunt.number -%}
								<p>{{ hunt.number }} counted on {{ hunt.date }}</p>
								{%- endif -%}
							</td>
						</tr>
					</table>
				</p>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</div>