---
layout: default
title: Shiny Pokémon
permalink: /shiny-pokemon/
---

<div id="shinyList">
	<h1>Shiny Pokémon</h1>
	<div  style="display: flex;flex-wrap: wrap;gap: 1rem;">
	  {% for p in site.data.shiny reversed %}
			<div style="text-align: center;">
			  <a href="/shiny-pokemon/#{{ p.shinyCount }}">
				<img src="/assets/images/spots/spot_s_{{ p.shinyCount }}.png">
				<h1>{{ p.name }}</h1>
			  </a>
			 </div>
	  {% endfor %}
	  </div>
</div>

<div id="pokemonPage">
	<div id="navigation">
		Navigation <a id="prevLink">Previous</a> <a id="nextLink">Next</a>
	</div>
	<div style="width: fit-content;margin: 0 auto;text-align:center;">
		<img id="p_spot"/>
		<p style="padding-top:10px;font-size:25px">Shiny n°<span id="p_shinyCount"></span><br>
		#<span id="p_number"></span>, <span id="p_specie"></span><span id="t_form"> - Form <span id="p_form"></span></span><br>
		<span id="p_name"></span></p>
	</div>
	<div class="desc">
		<h1 class="color">Hunt Informations</h1>
		<span class="color">Game:</span> Pokémon <span id="p_game"></span> <img id="p_game_img"/><br>
		<div id="t_startDate"><span class="color">Start Date:</span> <span id="p_startDate"></span><br></div>
		<div id="t_method"><span class="color">Method:</span> <span id="p_method"></span> <img id="p_method_img"/><br></div>
		<div id="t_count"><span class="color">Number:</span> <span id="p_count"></span><br></div>
		<div id="t_target"><span class="color">Target:</span> <span id="p_target"></span><br></div>
	</div>
	<div class="desc">
		<h1 class="color">Capture Informations</h1>
		<div id="t_date"><span class="color">Date:</span> <span id="p_date"></span><br></div>
		<div id="t_place"><span class="color">Place:</span> <span id="p_place"></span><br></div>
		<div id="t_level"><span class="color">Level:</span> <span id="p_level"></span><br></div>
		<div id="t_ball"><span class="color">Ball:</span> <span id="p_ball"></span> Ball <img id="p_ball_img"/><br></div>
	</div>
	<div class="desc">
		<h1 class="color">Pokémon Informations</h1>
			<div id="t_gender"><span class="color">Gender:</span> <span id="p_gender"></span><br></div>
			<div id="t_nature"><span class="color">Nature:</span> <span id="p_nature"></span><br></div>
			<div id="t_ability"><span class="color">Ability:</span> <span id="p_ability"></span><br></div>
			<div id="t_chara"><span class="color">Characteristic:</span> <span id="p_chara"></span><br></div>
			<div id="t_height"><span class="color">Height:</span> <span id="p_height"></span><br></div>
			<div id="t_weight"><span class="color">Weight:</span> <span id="p_weight"></span><br></div>
			<div id="t_ivs"><span class="color">IVs:</span> <span id="p_ivs"></span><br></div>
			<div id="t_ot"><span class="color">OT:</span> <span id="p_ot"></span><br></div>
			<div id="t_id"><span class="color">ID:</span> <span id="p_id"></span><br></div>
			<div id="t_reference"><span class="color">Name Reference:</span> <span id="p_reference"></span><br></div>
	</div>
	<div class="desc">
		<p id="p_tale" style="white-space: pre-line;"></p>
	</div>
	<div class="desc" id="gallery">
	
  {% for file in site.static_files %}
    {% if file.path contains '/assets/images/photos/' %}
      <img style="max-width:200px;max-height:200px; object-fit: contain;" class="photos clickable-img" src="{{ file.path | relative_url }}" data-name="{{ file.name }}">
    {% endif %}
  {% endfor %}
	</div>
</div>
<div id="imgModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
</div>

<script>
  // Inject CSV data into JS
  const shinyData = {{ site.data.shiny | jsonify }};
  
  function fillIfExist(valueToUse, spanToFill, divToHide) {
	if (valueToUse) {
				document.getElementById(spanToFill).textContent=valueToUse;
				document.getElementById(divToHide).style.display='';
			} else
				document.getElementById(divToHide).style.display='none';
  }

  function loadShiny() {
    const hash = window.location.hash.substring(1);

	// If no Pokémon selected, we hide the list
    if (!hash) {
		document.getElementById("pokemonPage").style.display = 'none';  
		document.getElementById("shinyList").style.display = 'block';  
		return;
    }
	else
	{
		document.getElementById("shinyList").style.display = 'none';  
		document.getElementById("pokemonPage").style.display = 'block';  
		const pokemon = shinyData.find(p => p.shinyCount == hash);
		if (pokemon) {
			document.getElementById("p_spot").src= "/assets/images/spots/spot_s_" + pokemon.shinyCount + ".png";
			document.getElementById("p_shinyCount").textContent= parseInt(pokemon.shinyCount,10);
			document.getElementById("p_number").textContent=pokemon.pokemonNumber;
			document.getElementById("p_specie").textContent=pokemon.pokemonSpecies;
			document.getElementById("p_name").textContent=pokemon.name;
			fillIfExist("", "p_form", "t_form");
			fillIfExist(pokemon.startDate, "p_startDate", "t_startDate");
			document.getElementById("p_game").textContent=pokemon.game;
			fillIfExist(pokemon.method, "p_method", "t_method");
			fillIfExist(pokemon.count, "p_count", "t_count");
			fillIfExist(pokemon.target, "p_target", "t_target");
			fillIfExist(pokemon.date, "p_date", "t_date");
			fillIfExist(pokemon.place, "p_place", "t_place");
			fillIfExist(pokemon.level, "p_level", "t_level");
			fillIfExist(pokemon.ball, "p_ball", "t_ball");
			if (pokemon.ball) { document.getElementById("p_ball_img").src= "/assets/images/items/ball_" + pokemon.ball.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "") + ".png"; }
			fillIfExist(pokemon.reference, "p_reference", "t_reference");
			fillIfExist(pokemon.gender, "p_gender", "t_gender");
			fillIfExist(pokemon.nature, "p_nature", "t_nature");
			fillIfExist(pokemon.ability, "p_ability", "t_ability");
			fillIfExist(pokemon.characteristic, "p_chara", "t_chara");
			fillIfExist(pokemon.height, "p_height", "t_height");
			fillIfExist(pokemon.weight, "p_weight", "t_weight");
			fillIfExist(pokemon.ivs, "p_ivs", "t_ivs");
			fillIfExist(pokemon.OT, "p_ot", "t_ot");
			fillIfExist(pokemon.ID, "p_id", "t_id");
			document.getElementById("p_tale").textContent=pokemon.tale;
			document.querySelectorAll(".color").forEach(el => {
				el.style.color = pokemon.color;
			});
			// Do images
			//  Games
			var game
			switch (pokemon.game) {
				case "Emerald (RNG Patched)":
					game = "emerald";
					break;
				case "Legends: Arceus":
					game = "legendsarceus";
					break;
				case "Legends: ZA":
					game = "legendsza";
					break
			default:
				game = pokemon.game.toLowerCase().replace(/\s/g, '');
			}
			document.getElementById("p_game_img").src= "/assets/images/games/" + game + ".png";
			//	Method
			if (pokemon.method)
			{
				var method;
				switch (pokemon.method) {
					case "Encounters":
					case "Encounter":
					case "Random Encounter":
					case "Random Encounters":
					case "Random S.O.S. Encounter":
					case "Random Friend Safari Encounters":
					case "Friend Safari Encounters":
						method="encounter";
						break;
					case "Resets":
					case "Odd Egg Resets":
					case "Soft Resets":
					case "Hard Resets":
						method="reset";
						break;
					case "Mass Outbreak":
					case "Random Encounter Mass Outbreak":
					case "Swarm Encounters":
					case "Surfing Encounters + Swarm":
						method="swarm";
						break;
					case "Eggs":
					case "Masuda Eggs":
					case "Random Masuda Eggs":
					case "Random Masuda Egg":
						method = "egg";
						break;
					case "Random Surfing":
						method = "surfing";
						break;
					case "Random Fishing":
					case "Super Rod Fishing":
					case "Old Rod Fishing":
						method = "fishing";
						break;
					case "Encounters + Shiny Charm":
					case "Masuda Eggs + Shiny Charm":
						method = "shinycharm";
						break;
					case "Full-Rate Poké Radar":
					case "Poké Radar":
						method = "pokeradar";
						break;
					default:
						method= pokemon.method.toLowerCase();
				}
				document.getElementById("p_method_img").src= "/assets/images/methods/method_" + method + ".png";
				// form
				if (pokemon.pokemonForm)
				{
					var form;
					switch (pokemon.pokemonForm) {
						case "int":
							form = "?";
							break;
						default:
							form = String(pokemon.pokemonForm).charAt(0).toUpperCase() + String(pokemon.pokemonForm).slice(1);
							break;
					}
					fillIfExist(form, "p_form", "t_form");
				}
			}
			
			// Filter photos
			const images = document.querySelectorAll(".photos");
			images.forEach(img => {
			  const name = img.dataset.name.toLowerCase();

			  if (name.includes(hash)) {
				img.style.display = "flex";
			  } else {
				img.style.display = "none";
			  }
			});
			
			// Do navigation
			  const index = shinyData.findIndex(p => p.shinyCount == hash );

			  const prev = shinyData[index - 1];
			  const next = shinyData[index + 1];

			  const prevLink = document.getElementById("prevLink");
			  const nextLink = document.getElementById("nextLink");

			  if (prev) {
			  prevLink.style.display = "flex";
				prevLink.href = "#" + prev.shinyCount;
				prevLink.textContent = "« " + prev.name;
			  } else {
				prevLink.style.display = "none";
			  }

			  if (next) {
			  nextLink.style.display = "flex";
				nextLink.href = "#" + next.shinyCount;
				nextLink.textContent = next.name + " »";
			  } else {
				nextLink.style.display = "none";
				}
		  return;
		}
		else {
			document.getElementById("pokemonPage").style.display = 'none';  
			document.getElementById("shinyList").style.display = 'block';  
			return;
		}
	}
  }

  window.addEventListener("hashchange", loadShiny);
  window.addEventListener("load", loadShiny);
  
  const modal = document.getElementById("imgModal");
const modalImg = document.getElementById("modalImg");

document.querySelectorAll(".clickable-img").forEach(img => {
  img.addEventListener("click", () => {
    modal.style.display = "flex";
    modalImg.src = img.src;
  });
});

document.querySelector(".close").addEventListener("click", () => {
  modal.style.display = "none";
});

modal.addEventListener("click", (e) => {
  if (e.target === modal) {
    modal.style.display = "none";
  }
});
</script>
<style>
.desc {
	padding-left:30%;
	margin-right:20%;
	margin-bottom:30px;
	font-size:20px;
}
#gallery, #navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0,0,0,0.8);

  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.clickable-img {
  cursor: pointer;
}
</style>