{%- assign lang_code = page.language | default: site.language | default: site.default_lang -%}
{%- assign lang_label = lang_code -%}
  {%- if lang_code == 'en' -%}{%- assign lang_label = 'Anglais' -%}{%- endif -%}
  {%- if lang_code == 'fr' -%}{%- assign lang_label = 'Français' -%}{%- endif -%}

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- assign desc = site.description | escape -%}
		{%- assign desc_tr = (site.data.data_traductions | where: 'Anglais', desc | map: lang_label | first) | default: desc -%}
		<p>{{ desc_tr | escape }}</p>

      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
