<p  style="font-size:20px;">
	Part-Time Shiny Hunter Since 2011
</p>
<p  style="font-size:20px;">
	With preferences for hunting on older generation games.
</p>
<p  style="font-size:20px;">
	Current Shiny Count: {{ site.data.shiny.size }}
</p>
<p>
	{% assign shinyByNumber = site.data.shiny | sort: "pokemonNumber" %}
	{% for shiny in shinyByNumber %}
		<a href="/shiny-pokemon/#{{ shiny.shinyCount }}"><img src="/assets/images/minis/mini_{{ shiny.pokemonNumber }}{%- if shiny.pokemonForm -%}_{{ shiny.pokemonForm | downcase }}{%- endif -%}.png"/></a>
	{% endfor %}
</P>